.documentUpload {
    margin: 0 auto;
}

.form_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid green;
}

