
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: maroon;
}

.main_app {
  background-color: aliceblue;
  margin: 0 auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  
}